# Игнорировать файлы сборки пакетов .deb
*.deb

# Игнорировать временные файлы редакторов (например, Vim, Emacs, VSCode)
*~
*.swp
*.swo
.vscode/

# Игнорировать файлы логов
*.log

# Игнорировать временные файлы, созданные компиляцией
*.o
*.a
*.out

# Игнорировать папки с зависимостями (например, node_modules, если используется JavaScript)
node_modules/

# Игнорировать папки для сборки, если они используются
build/
dist/

# Игнорировать систему управления версиями (например, если используется Git субмодуль)
.gitmodules
